/.venv
.env
arreglo.rar
arreglo.rar.enc
arreglo.rar.enc.zip
arreglo.rar
final.pdf
final.pdf.enc
final.pdf.enc.zip
final.pdf_decrypted.pdf
prueba.pdf
prueba.pdf.enc
prueba.pdf.enc.zip
prueba.pdf_desencriptado.pdf
